{{#section 'css'}}
<style>
    .link{
        background-color: rgb(3,144,217);
        color: #ffff;
        border: none;
        padding: 5px 20px;
        font-weight: 600;
        outline: none;
        transition: background-color .25s linear;
    }
    .link:hover{
        background-color: rgb(78,162,206);
    }
    .link:focus{
        outline: 0;
    }
    .link-cancel{
        background-color:rgb(250,72,72);
    }
    .link-cancel:hover{
        background-color: rgb(223,85,85);
    }
</style>
{{/section}}
<div class="w-100" style="background-color: #dddddd;">
    <div class="bg-white w-100" style="height: 80px;"></div>
    <div class="m-3 p-3 bg-white" style="height: 100vh;">
        <h1>Categories</h1>
        <h3>{{posts.category.name}}</h3>
        <table class="table font-weight-bold" style="background-color: #dddddd;">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Title</th>
                    <th class="text-center" scope="col">Auth</th>
                    <th class="text-center" scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each posts}}
                <tr>
                    <td class="text-center">{{title}}</td>
                    <td class="text-center">{{author.username}}</td>
                    <td class="text-center">{{status}}</td>
                    <td class="text-center">
                        {{#when status "eq" "WaitingForPublication" }}
                        <a href="{{slug}}/accept">
                            <button type="button" class="link">Duyệt</button>
                        </a>
                        <a href="{{slug}}/denial">
                            <button type="button" class="link link-cancel">Từ chối</button>
                        </a>
                         {{/when}}
                        {{#when status "eq" "Published" }}
                        <a href="{{slug}}/cancel">
                            <button type="button" class="link link-cancel">Hủy duyệt</button>
                        </a>
                        {{/when}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>