<div class="container-fluid">
    <div class="container-fluid mt-4 banner">
        <h2 class="text-warning text-uppercase font-weight-bold">Top 4 Featured article last week</h2>
        <div class="grid__list">
            <div class="grid__item">
                <div class="gird__bg"
                    style="background-image: url(https://images.pexels.com/photos/4121872/pexels-photo-4121872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
                </div>
                <div class="grid__content p-5">
                    {{#with featuredAuthor}}
                    <img class="rounded-circle" src="{{#if avatar}}{{avatar}}{{else}}/images/avatar.png{{/if}}" alt="">
                    <a href="" class="font-weight-bold text-warning text-uppercase mt-4 mb-3">Author news</a>
                    <h2 class="text-uppercase font-weight-bold text-white">{{fullName}}</h2>
                    <p class="mb-4 text-white">{{role}}</p>
                    <ul class="header__links d-flex">
                        <li class="header__link"><i class="fa fa-facebook" aria-hidden="true"></i></li>
                        <li class="header__link"><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                        <li class="header__link"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                        <li class="header__link"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                    </ul>
                    {{/with}}
                </div>
            </div>
            {{#each featuredPosts}}
            <div class="grid__item">

                <div class="gird__bg" style="background-image: url({{avatar}});">
                </div>
                <div class="grid__content p-4 justify-content-between text-white">
                    <div>
                        <p class="font-weight-bold">{{date timePost "MMM D,YYYY"}} - <a
                                href="/categories/{{category.slug}}" class="badge badge-secondary">{{category.name}}</a>
                        </p>
                        <h3 class="grid__title "><a href="/categories/{{category.slug}}/{{slug}}">{{title}}</a></h3>
                    </div>
                    <div class="grid__content-bottom">
                        <p class="tags">Tags:
                            {{#each tags}}{{#when @index "lt" 2}}{{#when @index "eq" 0}}{{else}},{{/when}} <a
                                href="/tags/{{slug}}">{{name}}</a>{{/when}}{{/each}}{{#when tags.length "gt" 1}},
                            ...{{/when}}
                        </p>

                        <div> <a href="" class="mr-4">{{view}} <i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="" class="">{{commentCount}} <i class="fa fa-commenting-o"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="container-fluid mt-4 top-newspaper">
        <h2 class="text-warning text-uppercase font-weight-bold">Top 10 view posts</h2>
        <ul class="top-newspaper__list multiple-items">

            {{#each mostViewedPosts}} <li class="p-2">
                <a href="/categories/{{category.slug}}/{{slug}}" class="text-white" style="text-decoration: none;">
                    <div class="top-newspaper__item">
                        <div class="item__bg" style="background-image: url({{avatar}});">
                        </div>
                        <div class="item__content p-4 justify-content-between text-white">
                            <div>
                                <p class="font-weight-bold">{{date timePost "MMM D,YYYY"}} - <a
                                        href="/categories/{{category.slug}}"
                                        class="badge badge-secondary">{{category.name}}</a></p>
                                <h3 class="item__title ">{{title}}</h3>
                            </div>
                            <div class="item__content-bottom">
                                <p class="tags">Tags:
                                    {{#each tags}}{{#when @index "lt" 2}}{{#when @index "eq" 0}}{{else}},{{/when}} <a
                                        href="/tags/{{slug}}">{{name}}</a>{{/when}}{{/each}}{{#when tags.length "gt" 1}},
                                    ...{{/when}}
                                </p>

                                <div> <a href="" class="mr-4">{{view}} <i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="" class="">{{commentCount}} <i class="fa fa-commenting-o"
                                            aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            {{/each}}



        </ul>
    </div>
    <div class="container-fluid mt-4 top-newspaper">
        <h2 class="text-warning text-uppercase font-weight-bold">Top 10 latest posts</h2>
        <ul class="top-newspaper__list multiple-items">

            {{#each lastestPosts}} <li class="p-2">
                <a href="/categories/{{category.slug}}/{{slug}}" class="text-white" style="text-decoration: none;">
                    <div class="top-newspaper__item">
                        <div class="item__bg" style="background-image: url({{avatar}});">
                        </div>
                        <div class="item__content p-4 justify-content-between text-white">
                            <div>
                                <p class="font-weight-bold">{{date timePost "MMM D,YYYY"}} - <a
                                        href="/categories/{{category.slug}}"
                                        class="badge badge-secondary">{{category.name}}</a></p>
                                <h3 class="item__title ">{{title}}</h3>
                            </div>
                            <div class="item__content-bottom">
                                <p class="tags">Tags:
                                    {{#each tags}}{{#when @index "lt" 2}}{{#when @index "eq" 0}}{{else}},{{/when}} <a
                                        href="/tags/{{slug}}">{{name}}</a>{{/when}}{{/each}}{{#when tags.length "gt" 1}},
                                    ...{{/when}}
                                </p>

                                <div> <a href="" class="mr-4">{{view}} <i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="" class="">{{commentCount}} <i class="fa fa-commenting-o"
                                            aria-hidden="true"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </a>
            </li>
            {{/each}}



        </ul>
    </div>
    <div class="container-fluid mt-4 top-newspaper">
        <h2 class="text-warning text-uppercase font-weight-bold">Top 10 category posts</h2>
        <ul class="top-newspaper__list multiple-items">

            {{#each topCategoryPosts}} <li class="p-2">
                <a href="/categories/{{category.slug}}/{{slug}}" class="text-white" style="text-decoration: none;">
                    <div class="top-newspaper__item">
                        <div class="item__bg" style="background-image: url({{avatar}});">
                        </div>
                        <div class="item__content p-4 justify-content-between text-white">
                            <div>
                                <p class="font-weight-bold">{{date timePost "MMM D,YYYY"}} - <a
                                        href="/categories/{{category.slug}}"
                                        class="badge badge-secondary">{{category.name}}</a></p>
                                <h3 class="item__title ">{{title}}</h3>
                            </div>
                            <div class="item__content-bottom">
                                <p class="tags">Tags:
                                    {{#each tags}}{{#when @index "lt" 2}}{{#when @index "eq" 0}}{{else}},{{/when}} <a
                                        href="/tags/{{slug}}">{{name}}</a>{{/when}}{{/each}}{{#when tags.length "gt" 1}},
                                    ...{{/when}}
                                </p>

                                <div> <a href="" class="mr-4">{{view}} <i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="" class="">{{commentCount}} <i class="fa fa-commenting-o"
                                            aria-hidden="true"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </a>
            </li>
            {{/each}}



        </ul>
    </div>