{{#section 'css'}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{{/section}}
{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<script>
    $(document).ready(function () {
        $('#category').select2({ placeholder: 'Select an option' });
        $('#tag').select2({ placeholder: 'Select an option' });
        $('#sortBy').select2({ placeholder: 'Select an option', minimumResultsForSearch: Infinity });
        $("#category").val("{{category}}").trigger('change');
        $("#tag").val("{{tag}}".split(",")).trigger('change');
    });


</script>

{{/section}}
<div class="container-fluid">
    <div class="container-fluid mt-4 banner">
        <h1 class="text-warning text-uppercase font-weight-bold">{{category.name}}</h1>
        <div class="posts">

            <div class="posts__search">
                <form action="/search">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="search-post-inp">keywords</label>
                            <input name="q" id="search-post-input" type="text" class="form-control"
                                placeholder="Search post" {{#if q}} value="{{q}}" {{/if}} required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="tag">Tags</label>
                            <select id="tag" name="tag" class="form-control" multiple>
                                {{#each allTags}}
                                <option value="{{slug}}">{{name}}</option>


                                {{/each}}

                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="category">Category</label>
                            <select id="category" name="category" class="form-control">
                                {{#each allCategories}}
                                <option value="{{slug}}">{{name}}</option>
                                {{#each subCategories}}
                                <option value="{{slug}}">{{name}}</option>
                                {{/each}}

                                {{/each}}

                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="sortBy">Sort</label>
                            <select id="sortBy" name="sortBy" class="form-control">
                                {{#each sortByOptions}}
                                <option value="{{value}}">{{name}}</option>
                                {{/each}}

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input name="isPremium" class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                <span class="badge badge-warning">isPremium</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>

                </form>
            </div>
            <div class="text-center-with-line"><span>{{postCount}} posts founded</span></div>
            <ul class="posts__list">
                {{#each posts}}
              <li class="posts__item"><a href="/categories/{{category.slug}}/{{slug}}">
                        <div class="post">
                            <div class="post__avatar"><img src="{{avatar}}" alt="{{title}}"></div>
                            <div class="post__info">
                                <div class="post__meta__top">
                                    <a href="/categories/{{category.slug}}"
                                        class="badge badge-secondary">{{category.name}}</a> -
                                    {{date timePost "MMM D, YYYYY"}}{{#if isPremium}} - <span
                                        class="badge badge-warning">Premium</span>{{/if}}
                                </div><a href="/categories/{{category.slug}}/{{slug}}">
                                    <h3 class="post__title">{{title}}</h3>
                                    <p class="post__abstract">{{abstract}}</p>
                                </a>
                                <div class="post__meta__bottom">


                                    <p class="tags">Tags:
                                        {{#each tags}}{{#when @index "lt" 2}}{{#when @index "eq" 0}}{{else}},{{/when}}
                                        <a
                                            href="/tags/{{slug}}">{{name}}</a>{{/when}}{{/each}}{{#when tags.length "gt" 1}},
                                        ...{{/when}}
                                    </p>

                                    <div> <a href="" class="mr-4">{{view}} <i class="fa fa-eye"
                                                aria-hidden="true"></i></a>
                                        <a href="" class="">{{commentCount}} <i class="fa fa-commenting-o"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                {{/each}}
            </ul>
            {{>pagination}}
        </div>
    </div>

</div>