{{#section 'css'}}
<style>
    #avatar {
        color: black;
        outline: none;
    }
</style>
{{/section}}
<header class="header mt-4">
    <div class="header__item d-flex flex-column">
        <ul class="header__links d-flex">
            <li class="header__link"><i class="fa fa-facebook" aria-hidden="true"></i></li>
            <li class="header__link"><i class="fa fa-google-plus" aria-hidden="true"></i></li>
            <li class="header__link"><i class="fa fa-twitter" aria-hidden="true"></i></li>
            <li class="header__link"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
        </ul>
        <p class="header__date">
            {{date now "ddd, D/M/YYYY"}}
        </p>
    </div>
    <a class="header__item d-flex justify-content-center">
        <img src="./images/logo.png" alt="">
    </a>
    <div class="header__item d-flex justify-content-end">
        <form action="/search">
            <div class="box_search border-bottom mr-3">
                <input name="q" type="text" placeholder="Search...">
                <button class="border-0 bg-transparent"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </form>

        {{#if user}}
        <a href="/{{user.role}}" class="text-uppercase sign_in d-flex align-items"
            style="color: black;outline: none; text-decoration: none">
            <img style="height: 30px;width: 30px;border-radius: 50%;"
                src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/avatar.png{{/if}}" alt="">
            <p class="m-0 ml-1">{{user.fullName}}</p>
        </a>
        {{else}}
        <button class="border-0 bg-transparent text-uppercase sign_in" data-toggle="modal" data-target="#signin_box"
            onclick="loadModal()">sign in</button>
        {{/if}}
    </div>
</header>
<div class="container-fluid" id="nav">
    <nav class="navbar navbar-expand-lg navbar-light mt-3 bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-between w-100">
                <li class="nav-item text-uppercase font-weight-bold text-center active">
                    <a class="nav-link" href="/">trang chủ<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item text-uppercase font-weight-bold text-center">
                    <a class="nav-link" href="#">xã hội</a>
                </li>
                <li class="nav-item text-uppercase font-weight-bold text-center">
                    <a class="nav-link" href="#">pháp luật</a>
                </li>
                <li class="nav-item text-uppercase font-weight-bold text-center">
                    <a class="nav-link" href="#">kinh doanh</a>
                </li>
                <li class="nav-item text-uppercase font-weight-bold text-center">
                    <a class="nav-link" href="#">giải trí</a>
                </li>
                <li class="nav-item text-uppercase font-weight-bold text-center">
                    <a class="nav-link" href="#">thể thao</a>
                </li>
                <li class="nav-item text-uppercase font-weight-bold text-center">
                    <a class="nav-link" href="#">du lịch</a>
                </li>
                {{#each allCategories}}
                <li class="nav-item text-uppercase font-weight-bold text-center">
                    <a class="nav-link" href="/categories/{{slug}}">{{name}}</a>
                </li>
                {{/each}}

                <li onclick="showCategories()" class="nav-item text-uppercase font-weight-bold text-center">
                    <a class="nav-link" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="categories" class="categoties bg-light">
        <ul class="categori__list container">
            {{#each allCategories}}
            <li class="categori__item">
                <h5 class="categori__item-title">{{name}}</h5>
                <ul>
                    {{#each subCategories}}
                    <li class="categori__item-chiln mt-1"> <a href="/categories/{{slug}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}


        </ul>
    </div>
</div>
<div class="container-fluid slider">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg--gray p-3">
            {{#each trendingPosts}}
            <div class="carousel-item {{#when @index "eq" 0}}active{{/when}}">
                <div class="text-center d-block w-100">
                    <span class="text-warning font-weight-bold"><i class="fa fa-star"
                            aria-hidden="true"></i>TRENDING:</span>
                    <span class="text-uppercase">{{title}}</span>
                    <a href="/categories/{{category.slug}}/{{slug}}"
                        class="font-weight-bold text-uppercase text-dark">Read
                        more</a>
                </div>
            </div>
            {{/each}}


        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="fa fa-chevron-left  text-dark" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="fa fa-chevron-right text-dark" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="signin_box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="tabContainer">
                <div class="buttonContainer d-flex justify-content-between align-items-center">
                    <div class="buttonContainer d-flex justify-content-start align-items-center">
                        <button class="text-uppercase font-weight-bold tab__item" onclick="showPanel(0)">Login</button>
                        <button class="text-uppercase font-weight-bold tab__item"
                            onclick="showPanel(1)">Register</button>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="tabPanel">
                    <h1 class="tabPanel__title text-uppercase mb-3">login</h1>
                    <form action="/login" method="POST" class="tabPanel__form">
                        <div class="d-flex flex-column">

                            <input name="username" type="text" placeholder="Username">
                            <input name="password" type="password" placeholder="Password">
                        </div>
                        <div class="d-flex justify-content-between mb-4 align-items-center">
                            <a href="/form/forget" class="font-weight-bold text-dark">Forget your password ?</a>
                            <button class="sumit" type="submit">Sign in</button>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Or login by: </span>
                            <a href="/facebook" class="form__link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="/google" class="form__link"><i class="fa fa-google-plus"
                                    aria-hidden="true"></i></a>
                        </div>
                    </form>
                </div>
                <div class="tabPanel">
                    <h1 class="tabPanel__title text-uppercase mb-3">register</h1>
                    <form action="/register" class="tabPanel__form">
                        <div class="d-flex flex-column">
                            <input type="text" placeholder="Full name">
                            <input type="text" placeholder="Username">
                            <input type="password" placeholder="Password">
                            <input type="password" placeholder="Confirm Password">
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-start {{#if formError.confirmCode}}is-invalid{{else}}is-valid{{/if}}">
                            <input name="confirmCode" type="text" placeholder="Confirm Code">
                            <input id="codeInput" name="code" type="text" value="{{code}}" hidden>
                            <p id="codeView" class="view-code">{{code}}</p>
                            <p class="newcode" onclick="generateNewCode()">New Code</p>
                        </div>
                        {{#if formError.confirmCode}} <div class="invalid-feedback mb-3 text-left">
                            {{formError.confirmCode}}
                        
                        </div>
                        {{/if}}

                        <div class="mb-4 mt-4">
                            <button class="sumit" type="submit">Register</button>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Or login by: </span>
                            <a href="/facebook" class="form__link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="/google" class="form__link"><i class="fa fa-google-plus"
                                    aria-hidden="true"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section "js"}}
<script>
    const getRegisterCode = async () => {
        let code = await fetch(`/register/code`)
        code = await code.json()
        return code.code
    }
    const generateNewCode = async () => {
        let code = await getRegisterCode()
        let codeViewEl = $("#codeView")
        let codeInputEl = $("#codeInput")
        codeViewEl.text(code)
        codeInputEl.val(code)
    }
    generateNewCode()
    document.addEventListener("copy", function (evt) {
        // Change the copied text if you want
        evt.clipboardData.setData("text/plain", "no no no");

        // Prevent the default copy action
        evt.preventDefault();
    }, false);
</script>
{{/section}}