{{#section "js"}}
<script>
    $("#search-user-btn").click(function (e) {
        let q = $("#search-user-input").val()
        setQuery(e, "q", q, { deleteItems: ["page"] })
    })
    $("#select-user-role").change(function (e) {

        let role = $("#select-user-role").val()
        setQuery(e, "role", role, { deleteItems: ["page"] })
    })

</script>
{{#if showMessageModal}}
<script>$("#showMessageModal").modal('show')</script>
{{/if}}
{{/section}}
<div class="top-title">
    <h1>Management</h1>
</div>
<div class="content">
    <div class="content__header">
        <h3>Users</h3>
    </div>
    <div class="content__toolbar">
        <div class="content__search">
            <form action="">
                <div class="input-group">
                    <input id="search-user-input" type="text" class="form-control" placeholder="Search this blog"
                        {{#if q}} value="{{q}}" {{/if}}>
                    <div class="input-group-append">
                        <button id="search-user-btn" class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="content__select"><select id="select-user-role" class="custom-select">
                <option value="">All Roles </option>
                {{#each userRoles}}
                <option value="{{this}}" {{#when this "eq" ../role}}selected{{/when}}>{{this}}</option>
                {{/each}}


            </select></div>
    </div>
    <div class="content__data">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="1">#</th>
                    <th scope="col" colspan="1">Username</th>
                    <th scope="col" colspan="2">Email</th>
                    <th scope="col" colspan="2">Fullname</th>
                    <th scope="col" colspan="1">Role</th>
                    <th scope="col" colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr class="clickable-row" data-href="/admin/users/{{username}}">
                    <td colspan="1" scope="row">{{calc @index "+" 1}}</td>
                    <td colspan="1">
                        <div class="text-truncate">{{username}}
                        </div>
                    </td>
                    <td colspan="2">{{email}}</td>
                    <td colspan="2">{{fullName}}</td>
                    <td colspan="1">{{role}}</td>
                    <td colspan="2">
                        <div class="content__data-row__actions">
                            <a href="/admin/users/{{username}}/del" class="btn btn-danger"><i class="fa fa-trash"
                                    aria-hidden="true"></i></a>
                            <a href="/admin/users/edit/{{username}}" class="btn btn-info"><i class="fa fa-pencil"
                                    aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>

        {{>pagination}}
        {{!-- add new --}}
        <div class="add-new">
            <a href="/admin/users/add" class="add-new__btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<!-- Modal -->
{{#if showMessageModal}}
<div class="modal fade" id="showMessageModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{#with showMessageModal}}
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-{{type}}">{{message}}</div>
            </div>
            {{/with}}


        </div>
    </div>
</div>
{{/if}}